{% extends('::base.html.twig') %}

{% block stylesheets %}
  {{ parent() }}
 
  
  <!-- DataTables -->
  <link rel="stylesheet" href="{{ asset('public/plugins/datatables/dataTables.bootstrap.css')}}"> 
  <link rel="stylesheet" href="{{ asset('public/dist/css/skins/_all-skins.min.css')}}">
          
     <!-- jQuery 2.2.3 -->
    <!-- DataTables -->
  

    
  {% endblock %}
  
{% block js %}
  <script src="{{ asset('public/plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{ asset('public/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>
    <script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
    
    
  {% endblock %}

{% block body %}

      
      <div class="box">
          <div class="box-header">
              <h3 class="box-title">Liste des Chercheurs LGM</h3>
          </div>
          <div class="box-body">
              <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                  
                  
                  
                  
                  <div class="row">
                      <div class="col-sm-12">
                          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                              <thead>
                                  <tr role="row">
                                      <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 246px;" aria-label="ID: activate to sort column descending" aria-sort="ascending">ID</th>
                                      <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 301px;" aria-label="dateSout: activate to sort column ascending">dateSout</th>
                                      <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 301px;" aria-label="mention: activate to sort column ascending">mention</th>
                                      <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 268px;" aria-label="jury: activate to sort column ascending">jury</th>
                                      
                                      <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 154px;" aria-label="Actions: activate to sort column ascending">Action</th>
                                  </tr>
                              </thead>
        <tbody>
        {% for soutenance in soutenances %}
            <tr>
                <td><a href="{{ path('soutenance_show', { 'id': soutenance.id }) }}">{{ soutenance.id }}</a></td>
                <td>{% if soutenance.dateSout %}{{ soutenance.dateSout|date('Y-m-d') }}{% endif %}</td>
                <td>{{ soutenance.mention }}</td>
                <td>{{ soutenance.jury }}</td>
                
               
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('soutenance_show', { 'id': soutenance.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('soutenance_edit', { 'id': soutenance.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th rowspan="1" colspan="1">ID</th>
                <th rowspan="1" colspan="1">dateSout</th>
                <th rowspan="1" colspan="1">mention</th>
                <th rowspan="1" colspan="1">jury</th>
                
                <th rowspan="1" colspan="1">Actions</th>
            </tr>
        </tfoot>
    </table>

    <ul>
        <li>
            <a href="{{ path('soutenance_new') }}">Create a new entry</a>
        </li>
    </ul>
            </div>
                  </div>
                  
              </div>
          </div>
        
        
 
      </div>
{% endblock %}
