{% extends 'base.html.twig' %}

{% block body %}
    <h1>Etablissement list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Createdat</th>
                <th>Updatedat</th>
           
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etablissement in etablissements %}
            <tr>
                <td><a href="{{ path('etablissement_show', { 'id': etablissement.id }) }}">{{ etablissement.id }}</a></td>
                <td>{{ etablissement.name }}</td>
                <td>{% if etablissement.created %}{{ etablissement.created|date('Y-m-d') }}{% endif %}</td>
                <td>{% if etablissement.updated %}{{ etablissement.updated|date('Y-m-d') }}{% endif %}</td>
               
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('etablissement_show', { 'id': etablissement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('etablissement_edit', { 'id': etablissement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etablissement_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
