<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ asset('public/dist/img/LGM-160x160.jpg')}}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Administrateur</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        {#<!-- search form (Optional) -->#}
        {#<form action="#" method="get" class="sidebar-form">#}
            {#<div class="input-group">#}
                {#<input type="text" name="q" class="form-control" placeholder="Search...">#}
              {#<span class="input-group-btn">#}
                {#<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>#}
                {#</button>#}
              {#</span>#}
            {#</div>#}
        {#</form>#}
        {#<!-- /.search form -->#}

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>Chercheurs</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu menu-open" style="display: none;">
                    <li>
                        <a href="{{path ('user_new')}}">
                           <i class="fa fa-plus"></i>
                            Ajouter
                        </a>
                    </li>
                    <li>
                        <a href="{{path ('user_index')}}">
                            <i class="fa fa-circle-o"></i>
                            Lister
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <span>Diplômes</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu menu-open" style="display: none;">
                    <li class="">
                        <a href="#">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            Habilitation
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu menu-open" style="display: none;">
                            <li>
                                <a href="{{path ('habilitation_new')}}">
                                   <i class="fa fa-plus"></i>
                                    Ajouter
                                </a>
                            </li>
                            <li>
                                <a href="{{path ('habilitation_index')}}">
                                    <i class="fa fa-circle-o"></i>
                                    Lister
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            Thèse
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu menu-open" style="display: none;">
                            <li>
                                <a href="{{path ('these_new')}}">
                                   <i class="fa fa-plus"></i>
                                    Ajouter
                                </a>
                            </li>
                            <li>
                                <a href="{{path ('these_index')}}">
                                    <i class="fa fa-circle-o"></i>
                                    Lister
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="">
                        <a href="#">
                             <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            Mastère
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu menu-open" style="display: none;">
                            <li>
                                <a href="{{path ('mastere_new')}}">
                                    <i class="fa fa-plus"></i>
                                    Ajouter
                                </a>
                            </li>
                            <li>
                                <a href="{{path ('mastere_index')}}">
                                    <i class="fa fa-circle-o"></i>
                                    Lister
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>

            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-leanpub" aria-hidden="true"></i>
                    <span>Productions Scientifiques</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu menu-open" style="display: none;">
                    <li class="">
                        <a href="#">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            Articles
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu menu-open" style="display: none;">
                            <li>
                                <a href="{{path ('user_new')}}">
                                   <i class="fa fa-plus"></i>
                                    Ajouter
                                </a>
                            </li>
                            <li>
                                <a href="{{path ('user_new')}}">
                                    <i class="fa fa-circle-o"></i>
                                    Lister
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            Communictaions
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu menu-open" style="display: none;">
                            <li>
                                <a href="{{path ('user_new')}}">
                                    <i class="fa fa-plus"></i>
                                    Ajouter
                                </a>
                            </li>
                            <li>
                                <a href="{{path ('user_new')}}">
                                    <i class="fa fa-circle-o"></i>
                                    Lister
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="">
                        <a href="#">
                           <i class="fa fa-book" aria-hidden="true"></i>
                            Ouvrages
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu menu-open" style="display: none;">
                            <li>
                                <a href="{{path ('user_new')}}">
                                    <i class="fa fa-plus"></i>
                                    Ajouter
                                </a>
                            </li>
                            <li>
                                <a href="{{path ('user_new')}}">
                                    <i class="fa fa-circle-o"></i>
                                    Lister
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>

            <li class="treeview active">
                <a href="#">
                   <i class="fa fa-certificate" aria-hidden="true"></i>
                    <span>Soutenances</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu menu-open" style="display: none;">
                    <li class="">
                        <a href="#">
                            <i class="fa fa-circle-o"></i>
                            Habilitations
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu menu-open" style="display: none;">
                            <li>
                                <a href="{{path ('soutenance_new')}}">
                                   <i class="fa fa-plus"></i>
                                    Ajouter
                                </a>
                            </li>
                            <li>
                                <a href="{{path ('soutenance_index')}}">
                                    <i class="fa fa-circle-o"></i>
                                    Lister
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-circle-o"></i>
                            Thèses
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu menu-open" style="display: none;">
                            <li>
                                <a href="{{path ('soutenance_new')}}">
                                    <i class="fa fa-plus"></i>
                                    Ajouter
                                </a>
                            </li>
                            <li>
                                <a href="{{path ('soutenance_index')}}">
                                    <i class="fa fa-circle-o"></i>
                                    Lister
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-circle-o"></i>
                            Mastères
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu menu-open" style="display: none;">
                            <li>
                                <a href="{{path ('soutenance_new')}}">
                                   <i class="fa fa-plus"></i>
                                    Ajouter
                                </a>
                            </li>
                            <li>
                                <a href="{{path ('soutenance_index')}}">
                                    <i class="fa fa-circle-o"></i>
                                    Lister
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="treeview active">
                <a href="#">
                   <i class="fa fa-list" aria-hidden="true"></i>
                    <span>Stucture</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu menu-open" style="display: none;">
                    <li>
                        <a href="{{path ('structure_new')}}">
                           <i class="fa fa-plus"></i>
                            Ajouter
                        </a>
                    </li>
                    <li>
                        <a href="{{path ('structure_index')}}">
                            <i class="fa fa-circle-o"></i>
                            Lister
                        </a>
                    </li>

                </ul>
            </li>

            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>Equipe de Recherche</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu menu-open" style="display: none;">
                    <li>
                        <a href="{{path ('researchteam_new')}}">
                           <i class="fa fa-plus"></i>
                            Ajouter
                        </a>
                    </li>
                    <li>
                        <a href="{{path ('researchteam_index')}}">
                            <i class="fa fa-circle-o"></i>
                            Lister
                        </a>
                    </li>

                </ul>
            </li>

            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    <span>Media</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu menu-open" style="display: none;">
                    <li>
                        <a href="{{path ('media_new')}}">
                            <i class="fa fa-plus"></i>
                            Ajouter
                        </a>
                    </li>
                    <li>
                        <a href="{{path ('media_index')}}">
                            <i class="fa fa-circle-o"></i>
                            Lister
                        </a>
                    </li>

                </ul>
            </li>

            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-university"></i>
                    <span>Etablissement</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu menu-open" style="display: none;">
                    <li>
                        <a href="{{path ('etablissement_new')}}">
                            <i class="fa fa-plus"></i>
                            Ajouter
                        </a>
                    </li>
                    <li>
                        <a href="{{path ('etablissement_index')}}">
                            <i class="fa fa-circle-o"></i>
                            Lister
                        </a>
                    </li>

                </ul>
            </li>

        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>