{% extends('::base.html.twig') %}

{% block stylesheets %}
    {{ parent() }}


    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('public/plugins/datatables/dataTables.bootstrap.css')}}"> 
    <link rel="stylesheet" href="{{ asset('public/dist/css/skins/_all-skins.min.css')}}">

    <!-- jQuery 2.2.3 -->
    <!-- DataTables -->



{% endblock %}

{% block js %}
    <script src="{{ asset('public/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('public/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>


{% endblock %}

{% block body %}


    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Liste des Chercheurs LGM</h3>
        </div>
        <div class="box-body">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">




                <div class="row">
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 246px;" aria-label="ID: activate to sort column descending" aria-sort="ascending">ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 301px;" aria-label="Lastname: activate to sort column ascending">Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 301px;" aria-label="Lastname: activate to sort column ascending">LastName</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 268px;" aria-label="Email: activate to sort column ascending">Email</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 212px;" aria-label="Grade: activate to sort column ascending">Grade</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 212px;" aria-label="These: activate to sort column ascending">These</th>

                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 212px;" aria-label="Directeur: activate to sort column ascending">Directeur</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 212px;" aria-label="Codirecteur: activate to sort column ascending">Codirecteur</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 212px;" aria-label="Effectue: activate to sort column ascending">Effectue</th>

                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 154px;" aria-label="Actions: activate to sort column ascending">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.lastName }}</td>

                                        <td>{{ user.email }}</td>

                                        <td>{{ user.grade }}</td>

                                        {% for unTag in user.These %}
                                            <td>{{ unTag }}</td>
                                        {% endfor %}

                                        <td>{{ user.Directeur }}</td>

                                        <td>{{ user.Codirecteur }}</td>

                                        <td>{{ user.Effectue }}</td>

                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">ID</th>
                                    <th rowspan="1" colspan="1">Name</th>
                                    <th rowspan="1" colspan="1">Lastname</th>
                                    <th rowspan="1" colspan="1">Email</th>
                                    <th rowspan="1" colspan="1">Grade</th>
                                    <th rowspan="1" colspan="1">These</th>

                                    <th rowspan="1" colspan="1">Directeur</th>
                                    <th rowspan="1" colspan="1">Codirecteur</th>
                                    <th rowspan="1" colspan="1">Effectue</th>

                                    <th rowspan="1" colspan="1">Actions</th>
                                </tr>
                            </tfoot>
                        </table>   


                        <ul>
                            <li>
                                <a href="{{ path('user_new') }}" >Create a new entry</a>

                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>



    </div>


    {#
    
        <h1>User list</h1>
    
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Gender</th>
                    <th>Birthday</th>
                    <th>Birthplace</th>
                    <th>Email</th>
                    <th>Phonenumber</th>
                    <th>Grade</th>
                    <th>Profile</th>
                    <th>Documentid</th>
                    <th>Photoid</th>
                    <th>Directeur</th>
                    <th>Codirecteur</th>
                    <th>Effectue</th>
                    <th>Mediaid</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.gender }}</td>
                    <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ user.birthPlace }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phoneNumber }}</td>
                    <td>{{ user.grade }}</td>
                    <td>{{ user.profile }}</td>
                    <td>{{ user.documentId }}</td>
                    <td>{{ user.photoId }}</td>
                    <td>{% if user.directeur %}Yes{% else %}No{% endif %}</td>
                    <td>{% if user.coDirecteur %}Yes{% else %}No{% endif %}</td>
                    <td>{% if user.effectue %}Yes{% else %}No{% endif %}</td>
                    <td>{{ user.mediaId }}</td>
                    <td>{% if user.created %}{{ user.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if user.updated %}{{ user.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                    
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    
        <ul>
            <li>
                <a href="{{ path('user_new') }}">Create a new entry</a>
            </li>
        </ul>      
    
    #}
{% endblock %}
