{% extends('::base.html.twig') %}




{% block body %}
    
    
    
    <div class="responsive-table-line" style="border: 5px solid #ccc;
         margin:0px auto;
         max-width:800px;
         border-collapse: collapse;">

     <table class="table table-bordered table-body-center" >
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ user.gender }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
                       
            </tr>
            <tr>
                <th>Birthplace</th>
                <td>{{ user.birthPlace }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ user.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Grade</th>
                <td>{{ user.grade }}</td>
            </tr>
            <tr>
                <th>Profile</th>
                <td>{{ user.profile }}</td>
            </tr>
           {#
            <tr>
                <th>Documentid</th>
                <td>{{ user.documentId }}</td>
            </tr>
            <tr>
                <th>Photoid</th>
                <td>{{ user.photoId }}</td>
            </tr>
            #}
            <tr>
                <th>Directeur</th>
                <td>{% if user.directeur %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Codirecteur</th>
                <td>{% if user.coDirecteur %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Effectue</th>
                <td>{% if user.effectue %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Mediaid</th>
                <td>{{ user.mediaId }}</td>
            </tr>
            
            <tr>
                <th>structure</th>
                <td>{{ user.structure.getName() }}</td>
            </tr>
            <tr>
                <th>Etablissement</th>
                <td>{{ user.structure.etablissement.getName() }}</td>
            </tr>
            {#
            <tr>
                <th>Created</th>
                <td>{% if user.created %}{{ user.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if user.updated %}{{ user.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            #}
           {% set runtimeConfig = {"thumbnail": {"size": [100, 100] }} %}
            <img src="{{ vich_uploader_asset(user, 'imageFile')|imagine_filter('my_thumb',runtimeConfig) }}" alt="{{ user.imageName }}" />
           
            
            
        </tbody>
    </table>

    
    <ul>
        <a class="btn btn-warning btn-sm" href="{{ path('user_edit', { 'id': user.id }) }}">
            <i class="fa fa-cog"></i> Edit</a>
        <a class="btn btn-danger btn-sm" href="{{ path('user_delete', { 'id': user.id }) }}">
            <i class="fa fa-trash-o fa-lg"></i> Delete </a>
        
               
        <a class="btn btn-primary" href="{{ path('user_index') }}" aria-label="Skip to main navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
        
           
            
    </ul>
           
        </div>
        <li>
        <a href="{{ path('user_ficheChercheurPDF', { 'id': user.id }) }}" target="_blank">lien fiche</a>
        </li>



{% endblock %}
