{% extends('::base.html.twig') %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $("#list").DataTable();
        });
    </script>
{% endblock %}

{% block body %}
<div class="box box-info box-solid">
    <div class="box-header with-border">
        <h3 class="box-title text-uppercase">Liste des thèses</h3>
        <span class="pull-right">
            <a href="{{ path('these_new') }}" class="btn btn-info text-uppercase"><i class="fa fa-plus"></i> Ajouter</a>
        </span>
    </div>

    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <table id="list" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                        <thead>
                        <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 246px;" aria-label="ID: activate to sort column descending" aria-sort="ascending">ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 301px;" aria-label="title: activate to sort column ascending">title</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 301px;" aria-label="firstDateRegistered: activate to sort column ascending">firstDateRegistered</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 268px;" aria-label="updated: activate to sort column ascending">updated</th>

                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 154px;" aria-label="Actions: activate to sort column ascending">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for these in theses %}
                                    <tr>
                                        <td><a href="{{ path('these_show', { 'id': these.id }) }}">#{{ these.id }}</a></td>
                                        <td>{{ these.title }}</td>
                                        <td>{% if these.firstDateRegistered %}{{ these.firstDateRegistered|date('Y-m-d') }}{% endif %}</td>
                                        <td>{% if these.updated %}{{ these.updated|date('Y-m-d H:i:s') }}{% endif %}</td>

                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="{{ path('these_show', { 'id': these.id }) }}">show</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('these_edit', { 'id': these.id }) }}"><i class="fa fa-pencil"></i> Modifier</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">ID</th>
                                    <th rowspan="1" colspan="1">title</th>
                                    <th rowspan="1" colspan="1">firstDateRegistered</th>
                                    <th rowspan="1" colspan="1">updated</th>


                                    <th rowspan="1" colspan="1">Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                        
                    </div>
                </div>

            </div>
        </div>



    </div>
{% endblock %}
