{% extends 'base.html.twig' %}

{% block body %}
    <h1>These</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ these.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ these.title }}</td>
            </tr>
            <tr>
                <th>Firstdateregistered</th>
                <td>{% if these.firstDateRegistered %}{{ these.firstDateRegistered|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if these.created %}{{ these.created|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if these.updated %}{{ these.updated|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('these_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('these_edit', { 'id': these.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
