{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Equipe</th>
                <th>A1</th>
                <th>A2</th>
                <th>A3</th>
                <th>A4</th>
                <th>A5</th>
                <th>A6</th>
                <th>A7</th>
                <th>A8</th>
                <th>A9</th>
                <th>A10</th>
                <th>Journal</th>
                <th>Indx</th>
                <th>Vol</th>
                <th>Num</th>
                <th>Pp</th>
                <th>Titre</th>
                <th>Path</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.equipe }}</td>
                <td>{{ article.a1 }}</td>
                <td>{{ article.a2 }}</td>
                <td>{{ article.a3 }}</td>
                <td>{{ article.a4 }}</td>
                <td>{{ article.a5 }}</td>
                <td>{{ article.a6 }}</td>
                <td>{{ article.a7 }}</td>
                <td>{{ article.a8 }}</td>
                <td>{{ article.a9 }}</td>
                <td>{{ article.a10 }}</td>
                <td>{{ article.journal }}</td>
                <td>{{ article.indx }}</td>
                <td>{{ article.vol }}</td>
                <td>{{ article.num }}</td>
                <td>{{ article.pp }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.path }}</td>
                <td>{% if article.created %}{{ article.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if article.updated %}{{ article.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if article.deletedAt %}{{ article.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('article_show', { 'id': article.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('article_edit', { 'id': article.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
